- 
  title='Ramune'
  desc='Ramune Server'

<!-- Prevent Zooming on Input on Mobile -->
meta(name='viewport', content='width=device-width, initial-scale=1')

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,900,700,400italic,300,100' rel='stylesheet' type='text/css'>

<!-- Bower Dependencies -->
script(src='/assets/bower_components/react/react.js')
script(src='/assets//bower_components/react/react-dom.js')

<!-- Global Assets -->
link(rel='stylesheet', href='/assets/css/main.css')